body{
    background-color: black !important;
    overflow-x: hidden;
}

.card1{
     float: left; 
    color: goldenrod;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    

}

.card2{
     float: left; 
    padding: 10px;
    color: goldenrod;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
   
}
.card3{
     float: left; 
    padding: 10px;
    color: goldenrod;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
