.body{
    background-color: black;
}


#portfolio{
    padding: 40px;
    margin: 0 auto;
    
    
    
}
.gallery-title{
    font-size: 36px;
    color: rgb(228, 178, 52);
    text-align: center;
    font-weight: 700;
    padding: 40px 20px 60px;
    background-color: black;

}
.filter-button{
    font-size: 20px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    text-align: center;
    color: rgb(16, 17, 17);
    margin-bottom: 30px;
  
   
   

}
.filter-button:hover{
    font-size: 18px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    text-align: center;
    color: #ebe9e3;
    background-color: rgb(240, 179, 47);
}
.btn-default:active .filter-button:active {
     background-color: rgb(102, 30, 30);
     color: rgb(227, 229, 231);
}
.gallery_product{
    margin-bottom: 18px;
    float: left;
    
    
}
