.nav{
    background-color: rgb(201, 117, 117) !important;
    color: goldenrod;

}
body{
    background-color: black !important;
}
a .nav-item{
    float: left;
}
.nav-item {
    width: 100%;
}

.col-md-6 > img{
  border-top-right-radius: 50px;
  /* border-bottom-right-radius: 50px; */
  
}


.carouselId{
   float: left;
   padding: 20px;
   margin: 30px;
   width: 40%;
   height:80px ;
  

}
i, span, a {
  display: inline-block;
}
.banner-content span.promo-tag {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 30px;
  color: #a3a3a3;
}
.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0 48px;
  font-size: 14px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.4s ease-out 0s;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a3a3a3;
  border: 2px solid #fcd462;
}
.main-btn.btn-filled {
  background-color: #fcd462;
  color: #fff;
}
.main-btn.btn-border {
  border-color: #40403b;
}
li{
  list-style: none;
}
.banner-content .title {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -6px;
  padding-bottom: 26px;
  color: #fff;
  font-family: "Prata", serif;
    
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.carousel-item{
  width: 30%;
  margin: 30px;
  float: left;

}
.bi{
    

}
.bi:hover{
  font-weight: bold;
  color: goldenrod;
}
.div{
    
    font-size: xx-large;
}
.div1{
    text-align: center;
    font-size: 50px;
    color: goldenrod;
    padding: 3%;
    padding-top: 7%;
    font-family: "Prata", serif;
    
    

}
.card1{
    float: left;
    color: goldenrod;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    

}
.card2{
    float: left;
    padding: 10px;
    color: goldenrod;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
   
}
.card3{
    float: left;
    padding: 10px;
    color: goldenrod;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.heading{
    font-size: 70px;
    text-align: center;
    text-decoration: bold;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    height: 500px;
    margin-right: 50px;
}
.nav-link :hover{
     background-color:goldenrod;
}
.container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 30%;
    width: 60%;
    text-align:center;
    height: 80px;
    
    
  }

.btn{
    background-color: transparent;
      color: rgb(36, 36, 32);  
    font-size: smaller;
    text-align: center;
    
    
    
}
.btn:hover{
    font-weight: bold;
    color: goldenrod;
  }
  
  
  .topright {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 10px;
  }
  .btn1{
    background-color: transparent;
    border-radius: 50px;
     color: goldenrod;
    border-color: #e0d2d2;  
   
 }
 .btn1:hover{
   background-color: rgb(245, 235, 235);
 }
 .ii{
    background-color: transparent;
    color: rgb(221, 221, 213);  
  font-size: smaller;
  text-align: center;
 }
 .ii:hover{
    font-weight: bold;
    color: goldenrod;
  }
 
.navbar{
  background-color: #20201d;
}
  .test{
    width: 200px;
    height: 200px;
    background-color: aqua;
  }
  .testimg{
    visibility: hidden;
  }

  .test > img:hover{
    visibility: visible;
    background-color: antiquewhite;
  }

  .carousel-id{
    float: left;
   padding: 20px;
   margin: 30px;
   width: 40%;
   height:80px ;
  
  }
  .cardtext1{
    width: 100%;
  }
  .cardtext2{
    width: 100%;
  }
  .cardtext3{
    width: 100%;
  }
  .card-img-top{
         background-color: transparent;
         
  }
  
   
   
  
   
  